@charset "UTF-8";
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* PCはWidthが1200pxより大きい */
/* タブレットはWidthが1200pxより小さい */
/* スマホはWidthが700pxより小さい */
@font-face {
  font-family: "genkai-mincho";
  src: url("/fonts/genkai-mincho-sanset.woff") format("woff");
}

@font-face {
  font-family: "my-against";
  src: url("/fonts/againts.woff") format("woff");
}

@font-face {
  font-family: "my-thunder";
  src: url("/fonts/thunder.woff2") format("woff2");
}

html {
  line-height: 150%;
}

h1, h2, h3, ul, a {
  font-family: "my-against";
}

ul {
  font-size: 30px;
}

span {
  color: red;
}

form {
  font-family: "genkai-mincho";
}

.l-frontheader {
  overflow-x: hidden;
  z-index: 100;
}

@media (min-width: 1201px) {
  .l-frontheader {
    display: none;
  }
}

@media (max-width: 1200px) {
  .l-frontheader {
    display: block;
    width: 100vw;
    height: 250px;
    position: relative;
  }
}

.l-workheader {
  z-index: 100;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-index {
  height: 100vh;
  width: 100vw;
  background: url("/img/frontpage_background.jpg") no-repeat center center/cover;
}

.l-frontmain {
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.l-workmain {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1201px) {
  .l-frontfooter {
    display: none;
  }
}

@media (max-width: 1200px) {
  .l-frontfooter {
    width: 100vw;
    height: 100px;
    background: url(/img/footer_tape.jpg) 90px/60px;
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
  }
}

.l-workfooter {
  width: 100vw;
  height: 100px;
  background: url(/img/footer_tape.jpg) 90px/60px;
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.l-body {
  position: relative;
  overflow-x: hidden;
}

.c-genkaifont, .c-genkaifont__contents, .c-genkaifont__black {
  font-family: "genkai-mincho";
}

.c-genkaifont__contents {
  font-size: 16px;
}

.c-genkaifont__black {
  color: black;
}

.c-thunderfont {
  font-family: "my-thunder";
}

.c-againstfont, .c-againstfont__side, .c-againstfont__sidemenu, .c-againstfont__sidelink {
  font-family: "my-against";
}

.c-againstfont__side {
  font-size: 50px;
}

.c-againstfont__sidemenu {
  font-size: 40px;
}

.c-againstfont__sidelink {
  font-size: 25px;
}

.c-sutitlefont {
  font-size: 100px;
}

@media (max-width: 699px) {
  .c-sutitlefont {
    font-size: 50px;
  }
}

.c-redunderline {
  text-decoration: underline;
  color: red;
  font-family: "genkai-mincho";
}

.c-animationtext > span {
  font-size: 80px;
  color: black;
}

.c-animationtext > span:nth-of-type(1) {
  font-size: 120px;
  color: red;
}

.c-animationtext > span:nth-of-type(6) {
  font-size: 120px;
  color: red;
}

.c-animationlink > span {
  font-size: 50px;
  color: black;
}

.c-animationlink > span:nth-of-type(1) {
  font-size: 100px;
  color: red;
}

.c-thunderanimation > span {
  font-size: 50px;
}

.c-image__indexdjcat {
  width: 200px;
  height: 150px;
}

.c-image__cat {
  width: 200px;
  height: 150px;
}

.c-image__skull {
  width: 80px;
  height: 80px;
}

.c-image__twitter {
  width: 30px;
  height: 30px;
}

.c-image__record {
  width: 50px;
  height: 50px;
}

@media (max-width: 699px) {
  .c-image__record {
    width: 30px;
    height: 30px;
  }
}

.c-image__owner {
  width: 215px;
  height: 215px;
}

.c-image__work {
  width: 225px;
  height: 225px;
}

.c-image__slick {
  width: 70vw;
  height: 450px;
}

.c-image__otherwork {
  width: 50vw;
  height: 300px;
}

.slick-dots > li > button::before {
  font-size: 50px;
}

.c-hambergerbackground {
  position: absolute;
  top: 0%;
  left: 100%;
  width: 100%;
  height: 100%;
  background: url(/img/gradation_background.jpg) top/cover;
  z-index: 50;
}

.c-hambergerbackground.is-open {
  left: 0%;
}

.p-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60vw;
  height: 100vh;
  position: relative;
}

.p-index__indexdjcat {
  position: absolute;
  top: 10vh;
}

.p-index__animationtext {
  position: absolute;
  top: 35vh;
}

.p-index__animationlink {
  position: absolute;
  top: 70vh;
}

.p-index__thunderfont {
  position: absolute;
  top: 80vh;
}

.p-frontarticle {
  width: 80vw;
  /* PCの長さ  */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "genkai-mincho";
}

@media (max-width: 1200px) {
  .p-frontarticle {
    width: 100vw;
  }
}

.p-frontarticle__wrap {
  width: 75vw;
}

@media (max-width: 1200px) {
  .p-frontarticle__wrap {
    width: 90vw;
  }
}

.p-introduction__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 115px;
}

.p-introduction__top > a {
  margin: 0 40px 0 20px;
}

.p-introduction__top > p {
  margin: 0 40px 0 20px;
  font-family: "genkai-mincho";
}

@media (max-width: 699px) {
  .p-introduction__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .p-introduction__top > a {
    margin: 20px 0 10px 0;
  }
  .p-introduction__top > p {
    margin: 0;
  }
}

.p-introduction__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 699px) {
  .p-introduction__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.p-introduction__left {
  width: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-introduction__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 699px) {
  .p-introduction__right {
    margin-top: 20px;
  }
  .p-introduction__right > p {
    margin-bottom: 16px;
  }
}

.p-frontwork {
  margin-top: 100px;
}

.p-frontwork__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 115px;
}

.p-frontwork__top > a {
  margin: 0 40px 0 20px;
}

.p-frontwork__top > p {
  margin: 0 40px 0 20px;
  font-family: "genkai-mincho";
}

@media (max-width: 699px) {
  .p-frontwork__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .p-frontwork__top > a {
    margin: 20px 0 10px 0;
  }
  .p-frontwork__top > p {
    margin: 0;
  }
}

.p-frontservice {
  margin-top: 100px;
}

.p-frontservice__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 115px;
}

.p-frontservice__top > a {
  margin: 0 40px 0 20px;
}

.p-frontservice__top > p {
  margin: 0 40px 0 20px;
  font-family: "genkai-mincho";
}

@media (max-width: 699px) {
  .p-frontservice__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .p-frontservice__top > a {
    margin: 20px 0 10px 0;
  }
  .p-frontservice__top > p {
    margin: 0;
  }
}

.p-frontservice > p {
  margin: 10px 0 10px 0;
}

.p-frontprice {
  margin-top: 100px;
}

.p-frontprice__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 115px;
  margin-bottom: 10px;
}

.p-frontprice__top > a {
  margin: 0 40px 0 20px;
}

.p-frontprice__top > p {
  margin: 0 40px 0 20px;
  font-family: "genkai-mincho";
}

@media (max-width: 699px) {
  .p-frontprice__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .p-frontprice__top > a {
    margin: 20px 0 10px 0;
  }
  .p-frontprice__top > p {
    margin: 0;
  }
}

.p-frontblog {
  margin-top: 100px;
}

.p-frontblog__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 115px;
  margin-bottom: 10px;
}

.p-frontblog__top > a {
  margin: 0 40px 0 20px;
}

.p-frontblog__top > p {
  margin: 0 40px 0 20px;
  font-family: "genkai-mincho";
}

@media (max-width: 699px) {
  .p-frontblog__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-frontcontact {
  margin: 100px 0 100px 0;
}

.p-frontcontact__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 115px;
  margin-bottom: 10px;
}

.p-frontcontact__top > a {
  margin: 0 40px 0 20px;
}

.p-frontcontact__top > p {
  margin: 0 40px 0 20px;
  font-family: "genkai-mincho";
}

@media (max-width: 699px) {
  .p-frontcontact__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .p-frontcontact__top > a {
    margin: 20px 0 10px 0;
  }
  .p-frontcontact__top > p {
    margin: 0;
  }
}

.p-workarticle {
  margin-top: 40px;
  width: 70vw;
}

.p-workarticle > p {
  font-family: "genkai-mincho";
}

.p-workarticle__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.p-workarticle__subtitle > a {
  margin: 0 40px 0 20px;
}

.p-workarticle__subtitle > p {
  margin: 0 40px 0 20px;
  font-family: "genkai-mincho";
}

.p-workarticle__contents {
  margin: 80px 0 80px 0;
}

.p-workarticle__contents > p {
  font-family: "genkai-mincho";
  margin: 20px 0 20px 0;
}

.p-workarticle__swiper {
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-workarticle__swiper > h3 {
  margin-bottom: 30px;
}

.p-blogarticle__date {
  text-align: right;
}

.p-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (23vw)[3];
      grid-template-columns: repeat(3, 23vw);
  -ms-grid-rows: (80px)[3];
      grid-template-rows: repeat(3, 80px);
  font-family: "genkai-mincho";
  color: white;
  margin-bottom: 80px;
  background-color: green;
}

@media (max-width: 1200px) {
  .p-grid {
    -ms-grid-columns: (23vw)[2];
        grid-template-columns: repeat(2, 23vw);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.p-grid > li {
  font-size: 20px;
  background: url(/img/Black3.png) center/contain no-repeat;
  width: 23vw;
  height: 80px;
  line-height: 80px;
  text-align: center;
}

.p-form {
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-form__contents {
  display: block;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-form__label {
  display: block;
  width: 15vw;
}

.p-form__input {
  display: block;
  width: 50vw;
  background-color: #F4F0F0;
  border: 1px solid #707070;
}

.p-form__textarea {
  width: 50vw;
  background-color: #F4F0F0;
  border: 1px solid  #707070;
  height: 120px;
}

.p-form__submit {
  background: url(/img/Black3.png) center/contain no-repeat;
  color: white;
}

.p-form__submit > input {
  width: 20vw;
  text-align: center;
  height: 80px;
  line-height: 80px;
}

.swiper-container {
  width: 75vw;
  height: 400px;
  position: relative;
  z-index: 10;
}

.swiper-container.swiper1 {
  width: 70vw;
  height: 500px;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-frontside {
  background: url(/img/gradation_background.jpg) top/cover;
  width: 20vw;
}

@media (max-width: 1200px) {
  .p-frontside {
    position: absolute;
    width: 100vw;
    left: 100%;
    height: 100%;
    background: none;
  }
}

@media (max-width: 1200px) {
  .p-frontside.is-open {
    -webkit-transition: all 2s;
    transition: all 2s;
    position: absolute;
    left: 0%;
    z-index: 100;
  }
}

.p-frontside__fix {
  position: fixed;
  width: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  .p-frontside__fix {
    position: static;
    width: 100vw;
    height: 100%;
  }
}

@media (max-width: 1200px) {
  .p-frontside__cat {
    display: none;
  }
}

@media (max-width: 1200px) {
  .p-frontside__subtitle {
    display: none;
  }
}

.p-frontside > p {
  font-size: 50px;
  font-family: "my-against";
}

.p-frontside > ul {
  font-size: 30px;
  font-family: "my-against";
}

.p-workside {
  height: 100vh;
}

@media (min-width: 1201px) {
  .p-workside {
    display: none;
  }
}

.p-frontheader {
  background: url(/img/gradation_background.jpg) top/cover;
  position: relative;
  height: 250px;
}

.p-frontheader__twitter {
  position: absolute;
  top: 180px;
  left: 10vw;
}

.p-frontheader__title {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-frontheader__title > a {
  font-size: 50px;
}

.p-frontheader.is-open {
  display: none;
}

.p-hamberger {
  position: absolute;
  left: 90vw;
  top: 50px;
  font-size: 30px;
  font-family: "my-against";
}

@media (min-width: 1201px) {
  .p-hamberger {
    display: none;
  }
}

@media (max-width: 699px) {
  .p-hamberger {
    left: 80vw;
  }
}

.p-hambergermanu {
  position: absolute;
  left: 100%;
  font-family: "my-against";
  font-size: 50px;
}

@media (min-width: 1201px) {
  .p-hambergermanu {
    display: none;
  }
}

.p-hambergermanu.is-open {
  top: 50%;
  left: calc(50% - 50px);
  -webkit-transition: all 2s;
  transition: all 2s;
}

.p-workheader__wrap {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1200px) {
  .p-workheader__wrap {
    width: 100vw;
    height: 250px;
    background: url(/img/gradation_background.jpg) top/cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.p-workheader__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 80px;
}

@media (max-width: 1200px) {
  .p-workheader__left {
    margin: 0;
  }
}

@media (max-width: 1200px) {
  .p-workheader__right {
    display: none;
  }
}

.p-workheader__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

.p-workheader__title > a {
  margin: 0 40px 0 20px;
}

.p-workheader__title > p {
  margin: 0 40px 0 20px;
  font-family: "genkai-mincho";
}

.p-workheader__pankuzu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-workheader__pankuzu > a, .p-workheader__pankuzu p {
  font-family: "genkai-mincho";
}

.p-workheader__pankuzu > p {
  margin: 0 5px 0 5px;
}

.u-margin__index {
  margin-bottom: 40px;
}

.u-margin__asidetop {
  margin-top: 20px;
}

.u-margin__asidetop > li {
  margin-top: 5px;
}

.u-margin__asidebottom {
  margin-bottom: 20px;
}

.u-margin__asidebottom > li {
  margin-bottom: 5px;
}

.u-margin__worktop {
  margin-top: 20px;
}

.u-margin__pricetop {
  margin-top: 80px;
}

.u-margin__blogtop {
  margin-top: 80px;
}
/*# sourceMappingURL=portfolio.css.map */