// Indexページの左から右へ文字が流れるアニメーション

.c-animationtext {
  > span {
            font-size: 80px;
            color: black;
         
            &:nth-of-type(1) {
             font-size: 120px;
             color: red;
            }
         
            &:nth-of-type(6) {
             font-size: 120px;
             color: red;
            }
         }

}

.c-animationlink {
  > span {
            font-size: 50px;
            color: black;
         
            &:nth-of-type(1) {
            font-size: 100px;
            color: red;
            }
        
         }
}

.c-thunderanimation {
  >span {
    font-size: 50px;
  }
}


