.c-genkaifont {
    font-family: "genkai-mincho";

    &__contents {
        @extend .c-genkaifont ;
        font-size: 16px;
    }
    &__black {
        @extend .c-genkaifont ;
        color: black;
    }
    
}

.c-thunderfont {
    font-family: "my-thunder";
}

.c-againstfont {
    font-family:"my-against";

    &__side {
        @extend .c-againstfont ;
        font-size: 50px;
       
    }

    &__sidemenu {
        @extend .c-againstfont ;
        font-size: 40px;
       
    }

    &__sidelink {
        @extend .c-againstfont ;
        font-size: 25px;
       
    }

}

.c-sutitlefont { 
    font-size: 100px;
        @include smartphone {
            font-size: 50px;
        }
}

.c-redunderline {
    text-decoration: underline;
    color: red;
    font-family: "genkai-mincho";
}


