.c-genkaifont {
    font-family: "genkai-mincho";
}

.c-thunderfont {
    font-family: "my-thunder";
}

.c-againstfont {
    font-family:"my-against";

    &__side {
        @extend .c-againstfont ;
        font-size: 30px;
       
    }

}

.c-sutitlefont { 
    font-size: 100px;
}



