.u-margin {
    &__index {
        margin-bottom: 40px;
    }

    &__asidetop {
        margin-top: 20px;
      
        >li {
            margin-top: 5px;
           }
    }

    &__asidebottom {
        margin-bottom: 20px;
    
        >li {
            margin-bottom: 5px;
        }   
    }

    &__worktop {
        margin-top: 20px;
    }
}









