.p-frontarticle {
  width: 80vw ;
  background-color: #FAF9F2 ;
  
  
}

.p-frontside {
    // overflow-y:scroll ;
    &__fix {
        position: fixed;
    }
    
    >p {
        font-size: 50px;
        font-family:"my-against";
    }

    >ul {
        font-size: 30px;
        font-family:"my-against";
        
    }
}