.p-frontside {
   background-image: url(/img/gradation_background.jpg);
   background-size :cover;
   width: 20vw;

    @include tablet {
        position: absolute;
        left: 100%;
    }
  
  &.is_open {
      position: absolute;
      left:0%
  }
    
  &__fix {
      position: fixed;
      width: 20vw;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include tablet {
          width: 100vw;
      }
      
     }

  &__cat {
      @include tablet {
          display: none;
      }    
  }

  &__subtitle {
      @include tablet {
          display: none;
      }
  }


  
  >p {
      font-size: 50px;
      font-family:"my-against";
  }

  >ul {
      font-size: 30px;
      font-family:"my-against";
      
  }
}

.p-workside {
    height: 100vh;
    @include pc {
        display: none;
    }
}