.p-frontarticle {
    width: 80vw ;
    @include centercontent ;
    font-family: "genkai-mincho";
    line-height: 150%;

    &__wrap {
        width: 75vw;
        

    }

}

.p-introduction {
    &__top {
        @include subtitle(115px);
    }

    &__content {
        display: flex;
    }

    &__left {
        width:$pc-owner_size ;
        @include centercontent ;
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    }

}

.p-frontwork {
    margin-top: 100px;
    &__top {
        @include subtitle(115px);    
    }
}

.p-pagination {
   display: flex;

    &__class {
        width: 775px ;
        display: flex;
        justify-content: space-between;
        margin: 30px 0 0 50px;

        >.prev {
            position: relative;
            > a::after {
                position: absolute;
                content: "Ene";
                color: red;
                top: 15px;
                left: 5px;
                font-family: "my-thunder";
                font-size: 25px;
            }
            
        }
        >.next {
            position: relative;
            > a::after {
                position: absolute;
                content: "Ene";
                color: red;
                top: 15px;
                right: 5px;
                font-family: "my-thunder";
                font-size: 25px;
            }
        }
         
        >.page {
            display: none;
            
        }
    }

    &__text {
        @include centercontent ;

        >dt {
            margin-left: 50px;
        }
        >dd {
            margin-left: 50px;
        }
       
    }

    &__container {
        display: flex;
        justify-content: space-between;
    }
}

.p-frontservice {
    margin-top: 100px;
    &__top {
        @include subtitle(115px);    
    }

    >p {
        margin: 10px 0 10px 0;
    }
}

.p-frontprice {
    margin-top: 100px;
    &__top {
        @include subtitle(115px); 
        margin-bottom: 10px;   
    }

}

.p-frontblog {
    margin-top: 100px;
    &__top {
        @include subtitle(115px); 
        margin-bottom: 10px;   
    }
}

.p-frontcontact {
    margin: 100px 0 100px 0;
    &__top {
        @include subtitle(115px); 
        margin-bottom: 10px;   
    }

}

.p-workarticle {
    width: 70vw;

    &__contents {
        margin-bottom: 40px;
        >p {
            font-family: "genkai-mincho";
            margin: 15px 0 15px 0;
        }

    }

    
}

.p-slider {
    width: 70vw;
    margin-top: 80px;

    >img {
        height: 400px;
    }
}

.p-grid {
    display: grid;
    grid-template-columns: repeat(3, 23vw);
    grid-template-rows: repeat(3,80px);
    font-family: "genkai-mincho";
    color: white;
    margin-bottom: 80px;
    
    > li { 
           font-size: 20px;
           background: url(/img/Black3.png) center/contain no-repeat ;
           width: 23vw;
           height: 80px;
           line-height: 80px;
           text-align: center;
           
            }
                  
}