.p-frontarticle {
    width: 80vw ;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "genkai-mincho";
    line-height: 150%;

    &__wrap {
        width: 75vw;
        background-color: green;

    }

}

.p-introduction {
    &__top {
        @include subtitle(115px);
    }

    &__content {
        display: flex;
    }

    &__left {
        width:$pc-owner_size ;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

    &__right {
        width: calc(100% - $pc-owner_size);

        >p {
            margin-bottom: 30px;
        }

    }

}

.p-frontwork {
    &__top {
        @include subtitle(115px);    
    }
}

.p-pagination {
    display: flex;

    &__class {
        display: flex;
    }
}


