.p-frontheader {
    background: url(/img/gradation_background.jpg) top/cover;
    position: relative;
    height: 250px;
    
    &__twitter {
        position: absolute;
        top: 180px;
        left: 10vw;
    }

    &__title {
        height: 250px;
        @include centercontent ;
        justify-content: center;
       
        >a {
            font-size: 50px;
        }

    }

    // ハンバーガーメニューが表示されたら、ヘッダーを表示を消す 
    &.is-open {
        display:none ;
    }

   
}    

.p-hamberger {
    position: absolute;
    left: 90vw;
    top: 50px;
    font-size: 30px;
    font-family: "my-against";
    @include smartphone {
        left: 80vw;
    }
}   

.p-hambergermanu {
    // overflow-x: hidden;
    position: absolute;
    left: 100%;
    font-family:"my-against";
    font-size: 50px;

    &.is-open {
        top:50%;
        left: calc(50% - 50px) ;
        transition: all 2s;
        
        
    } 
}


// work,service,blogのヘッダー
.p-workheader {
    &__wrap {
        width: 70%;
        display: flex;
    }

    &__left {
        @include centercontent;
        margin-right: 80px;
    }

    &__title { 
        @include subtitle(150px);
    }

    &__pankuzu {
        display: flex;

        >a , p {
          font-family: "genkai-mincho";
        }
        
        >p {
          margin: 0 5px 0 5px;
        }

    }



}